# API Key when using the Open AI API or Proxy directly:
OPENAI_API_KEY=

# URL and API key for the Azure AI Foundry:
AZURE_AIF_URL=
AZURE_AIF_KEY=

# URL, API key, and index name for Azure AI Search
AZURE_AIS_URL=
AZURE_AIS_KEY=
AZURE_AIS_IDX=
